@model Jogador

@{
    ViewData["tittle"] = "Jogador";
}

<h1>Cadastro de Jogadores</h1>

<form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">
    <label for="">Nome</label>
    <input type="text" name="Name" required>

    <label for="">Email</label>
    <input type="text" name="Email">

    <label for="">Senha</label>
    <input type="text" name="Email">

    <label for"">Equipe</label>
    <select type="text" name="NameEquipe"></select>

    <button type="submit">Cadastrar</button>
</form>

@* Falta fazer a tabela *@
